@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 10;
  padding: 10;
}

body {
  background-image: url(slp.jpeg);
  background-size: cover;
}

nav {
  width: 110%;
  height: 80px;
  background-color: #ddd;
}

nav p {
  font-family: "Montserrat";
  color: #222;
  font-size: 28px;
  line-height:  45px;
  float: left;
  padding: 30px 10%;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position:  relative;
}

nav ul li a {
  display: block;
  font-family: "Montserrat";
  color: #222;
  font-size: 12px;
  padding: 13px 12px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #ddd ;
  padding: 10px;
  border-radius: 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 80px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 12px 12px;
}

nav ul li ul li a:hover {
   background-color: #fff;
}

nav ul li ul ul li {
  display: none;
  position: absolute;
  background-color: #ddd ;
  padding: 10px;
  border-radius: 4px;
}
